.header-container {
  height: 90vh;
  background: linear-gradient(rgb(0, 0, 0, .45), rgb(0, 0, 0, .45)), url('./img/boat.jpg') no-repeat;
  background-size: cover;
  margin-bottom: 10vh;
}

.header-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 7em;
}